.snackbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 0.7rem;
  background: #3e3e3e;
  color: #fff;
}
.snackbar-container button {
  padding: 0.5em 1rem;
  border: none;
  cursor: pointer;
}
