.snackbar-container {
  padding: 1rem;
  max-width: 50rem;
  margin: auto;
}
header button.add-start {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  background: #000;
  border-radius: 0.3rem;
  cursor: pointer;
}
.add-start a {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 0.5rem;
}
.add-start svg {
  fill: gold;
  height: 16px;
  width: 16px;
}
.snackbar-container h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Allura";
  font-size: 3rem;
}
.presentation {
  text-align: justify;
}
main {
  margin-top: 5rem;
}
.S1-S3-content {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
main .snackbar-btn {
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  color: #fff;
}
.animations-options {
  margin: 0.5rem 0;
}
.animations-options select {
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid lightgrey;
  width: 100%;
}

.duration input,
.easing input {
  padding: 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 0.9rem;
  width: 100%;
}
.duration,
.easing {
  margin: 0.7rem 0;
}
main .S0 {
  background: grey;
}
main .S1 {
  background: blueviolet;
}
main .S2 {
  background: blue;
}
main .S3 {
  background: orange;
}
main .S4 {
  background: hotpink;
}
main .S0,
main .S4 {
  margin-top: 1rem;
}
.data-communication,
.snackbar-btn-container {
  margin: 6rem 0;
}
.title-snackbar {
  font-family: "Allura";
  font-size: 2rem;
}
.S4-sent,
.S4-receive {
  margin: 1rem 0;
}
.S4-data-content input {
  min-width: 400px;
  max-width: 100%;
  padding: 0.2rem;
  min-height: 36px;
}
main button.close-all,
main .nav-away {
  color: #000;
}
.close-all-container {
  display: flex;
  justify-content: flex-end;
}
main button.close-all {
  background: #810000;
  color: #fff;
}
.author {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.author a {
  color: #000;
}
